<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homepage</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Icons CSS -->
    <script src="https://use.fontawesome.com/a97712271d.js"></script>
    <!-- Google Fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Playball|Open+Sans|Roboto+Condensed" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- BODY CONTAINER -->
    <div class="container-fluid bg-light p-0" style="min-height: 100vh;">
      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt=""><span class="navbar-brand-accent">N</span>avbar
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <!-- Menu items -->
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" href="#"><i class="fa fa-home mr-2"></i>Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#"><i class="fa fa-info mr-2"></i>Features</a>
            <a class="nav-item nav-link" href="#"><i class="fa fa-envelope mr-2"></i>Contact Us</a>
          </div>
        </div>
      </nav>
      <!-- CONTENT CONTAINER -->
      <div class="container-fluid bg-white p-0" style="min-height: 90vh;">
        <!-- FEATURE IMAGE -->
        <div class="jumbotron jumbotron-fluid text-center a-fade bg-overlay py-5 mb-0">
          <div class="container my-5 p-5">
            <h1 class="display-1 text-light text-shadow">Hello, world.<span class="a-cursor ml-3"></span></h1>
            <hr class="bg-light w-75" style="height: 1px;" />
            <p class="lead text-light p-4 mb-3 text-shadow">This is a text block. You should write something in it.</p>
            <div class="" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary btn-lg mr-4">Learn More</button>
              <button type="button" class="btn btn-outline-light btn-lg">Contact</button>
            </div>
          </div>
        </div>
        <!-- COMPANY LOGOS FEATURE BLOCK -->
        <div class="container-fluid bg-light p-4">
          <div class="row align-items-center">
            <div class="col-sm-auto">
              <h3 class="">As Featured In:</h3>
            </div>
            <div class="col">
              <img src="img/NewYorkTimes.svg" alt="New York Times" height="300"  width="300" class="img-fluid">
            </div>
            <div class="col">
              <img src="img/WashingtonPost.svg" alt="Washington Post" height="300" width="300" class="img-fluid">
            </div>
            <div class="col">
              <img src="img/WallStreetJournal.svg" alt="Wall Street Journal" height="300" width="300" class="img-fluid">
            </div>
            <div class="col">
              <img src="img/HuffingtonPost.svg" alt="Huffington Post" height="300" width="300" class="img-fluid">
            </div>
            <div class="col">
              <img src="img/Bloomberg.svg" alt="Bloomberg" height="300" width="300" class="img-fluid">
            </div>
          </div>
        </div>
        <!-- TEXT ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <h2 class="display-4 text-center">About Us</h2>
            <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
            <div class="row justify-content-center">
              <div class="col-auto">
                <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
                <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 COL TEXT ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <h2 class="display-4 text-center">About Us</h2>
            <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
            <div class="row justify-content-center">
              <div class="col-sm">
                <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
                <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
              </div>
              <div class="col-sm">
                <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
                <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 COL IMAGE/TEXT ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <div class="row">
              <div class="col text-center">
                <h2 class="display-4">About Us</h2>
                <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
              </div>
              <div class="row">
                <div class="col-sm">
                  <figure class="figure">
                    <img src="img/stars.jpg" alt="Image" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption">A caption for the above image.</figcaption>
                  </figure>
                </div>
                <div class="col-sm">
                  <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
                  <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 COL FLUSH IMAGE/TEXT ON WHITE BLOCK -->
        <div class="container-fluid bg-white p-0" >
          <div class="row no-gutters">

            <div class="col-sm-6 bg-white p-5">
              <h2 class="display-4 text-center">About Us</h2>
              <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
              <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
              <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
            </div>
            <div class="col-sm-6 w-100">
              <img src="img/stars.jpg" alt="Image" class="img-fill" width="1000" height="50">
            </div>
          </div>
        </div>
        <!-- BLOCKQUOTE ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <div class="row">
              <div class="col">
                <h2 class="display-4 text-center">About Us</h2>
                <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
                <div class="border-danger pl-4" style="border-left: solid 5px;">
                  <p class="lead"><i class="fa fa-quote-left mr-2"></i>"Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff."<i class="fa fa-quote-right ml-2"></i></p>
                  <p class="lead text-muted text-center font-italic">- Somebody</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FEATURE QUOTE ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <div class="row">
              <div class="col">
                <h3 class=""><i class="fa fa-quote-left mr-3"></i>Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.<i class="fa fa-quote-right ml-3"></i></h3>
                <p class="lead text-muted text-left font-italic">- Somebody</p>
              </div>
            </div>
          </div>
        </div>
        <!-- CTA ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <div class="row align-items-center">
              <div class="col-md-10">
                <h3 class=""><i class="fa fa-quote-left mr-3"></i>Lorem ipsum and stuff.Lorem ipsum and stuff.</h3>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary btn-lg">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <!-- LARGE FEATURE ICONS ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <div class="col text-center">
              <h2 class="display-4">Features</h2>
              <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
            </div>
            <div class="container mt-5 bg-light p-5">
              <div class="row">
                <div class="col-sm text-center">
                  <div class="text-white mb-3"><i class="fa fa-camera-retro fa-3x rounded-circle bg-primary p-5 ml-auto mr-auto"></i></div>
                  <h4>Name of feature</h4>
                  <p class="pb-3">Lorem ipsum lorem ipsum</p>
                </div>
                <div class="col-sm text-center">
                  <div class="text-white mb-3"><i class="fa fa-camera-retro fa-3x rounded-circle bg-primary p-5 ml-auto mr-auto"></i></div>
                  <h4>Name of feature</h4>
                  <p class="pb-3">Lorem ipsum lorem ipsum</p>
                </div>
                <div class="col-sm text-center">
                  <div class="text-white mb-3"><i class="fa fa-camera-retro fa-3x rounded-circle bg-primary p-5 ml-auto mr-auto"></i></div>
                  <h4>Name of feature</h4>
                  <p class="pb-3">Lorem ipsum lorem ipsum</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SMALL FEATURE ICONS ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <div class="col text-center">
              <h2 class="display-4">Features</h2>
              <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
            </div>
            <div class="container mt-5 bg-light p-5">
              <div class="row">
                <div class="col-sm text-center">
                  <h4><i class="fa fa-camera-retro mr-3"></i>Name of feature</h4>
                  <p class="pb-3">Lorem ipsum lorem ipsum</p>
                </div>
                <div class="col-sm text-center">
                  <h4><i class="fa fa-camera-retro mr-3"></i>Name of feature</h4>
                  <p class="pb-3">Lorem ipsum lorem ipsum</p>
                </div>
                <div class="col-sm text-center">
                  <h4><i class="fa fa-camera-retro mr-3"></i>Name of feature</h4>
                  <p class="pb-3">Lorem ipsum lorem ipsum</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm text-center">
                  <h4><i class="fa fa-camera-retro mr-3"></i>Name of feature</h4>
                  <p class="pb-3">Lorem ipsum lorem ipsum</p>
                </div>
                <div class="col-sm text-center">
                  <h4><i class="fa fa-camera-retro mr-3"></i>Name of feature</h4>
                  <p class="pb-3">Lorem ipsum lorem ipsum</p>
                </div>
                <div class="col-sm text-center">
                  <h4><i class="fa fa-camera-retro mr-3"></i>Name of feature</h4>
                  <p class="pb-3">Lorem ipsum lorem ipsum</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- CHECKLIST ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5 text-center">
            <h2 class="display-4">Checklist</h2>
            <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
            <div class="row justify-content-center">
              <div class="col-auto">
                <ul class="list-unstyled text-left">
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Lorem ipsum dolor sit amet</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Consectetur adipiscing elit</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Integer molestie lorem at massa</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Facilisis in pretium nisl aliquet</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Nulla volutpat aliquam velit</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 COL CHECKLIST ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <div class="row">
              <div class="col text-center">
                <h2 class="display-4">Checklist</h2>
                <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto">
                <ul class="list-unstyled">
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Lorem ipsum dolor sit amet</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Consectetur adipiscing elit</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Integer molestie lorem at massa</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Facilisis in pretium nisl aliquet</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Nulla volutpat aliquam velit</li>
                </ul>
              </div>
              <div class="col-auto">
                <ul class="list-unstyled">
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Lorem ipsum dolor sit amet</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Consectetur adipiscing elit</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Integer molestie lorem at massa</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Facilisis in pretium nisl aliquet</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Nulla volutpat aliquam velit</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 COL PROS/CONS ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <div class="row">
              <div class="col text-center">
                <h2 class="display-4">Checklist</h2>
                <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto">
                <ul class="list-unstyled">
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Lorem ipsum dolor sit amet</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Consectetur adipiscing elit</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Integer molestie lorem at massa</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Facilisis in pretium nisl aliquet</li>
                  <li class="lead"><i class="fa fa-check text-success mr-3"></i>Nulla volutpat aliquam velit</li>
                </ul>
              </div>
              <div class="col-auto">
                <ul class="list-unstyled">
                  <li class="lead"><i class="fa fa-times text-danger mr-3"></i>Lorem ipsum dolor sit amet</li>
                  <li class="lead"><i class="fa fa-times text-danger mr-3"></i>Consectetur adipiscing elit</li>
                  <li class="lead"><i class="fa fa-times text-danger mr-3"></i>Integer molestie lorem at massa</li>
                  <li class="lead"><i class="fa fa-times text-danger mr-3"></i>Facilisis in pretium nisl aliquet</li>
                  <li class="lead"><i class="fa fa-times text-danger mr-3"></i>Nulla volutpat aliquam velit</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- FEATURE TEXT ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <h2 class="display-4 text-center">About Us</h2>
            <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
            <div class="row justify-content-center bg-light rounded border border-light p-5">
              <div class="col-auto">
                <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
                <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- FEATURE IMAGE/TEXT ON WHITE BLOCK -->
        <div class="container-fluid bg-white">
          <div class="container py-5">
            <h2 class="display-4 text-center">About Us</h2>
            <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
            <div class="row justify-content-center bg-light rounded border border-light p-5 align-items-middle">
              <div class="col-sm-auto">
                <img src="img/dog.jpg" alt="Image" class="rounded-circle align-middle img-fluid border border-light">
              </div>
              <div class="col-sm p-5">
                <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
                <p class="lead">Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.Lorem ipsum and stuff.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- POSTS CARD GROUP -->
        <div class="container-fluid bg-white py-5">
          <h2 class="display-4 text-center">Recent Posts</h2>
          <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
          <div class="container p-3 bg-light border border-light rounded">
            <div class="card-deck">
              <div class="card border-0">
                <div class="card-header bg-primary text-light"><i class="fa fa-pencil mr-3"></i>Heading</div>
                <img class="card-img-top" src="img/stars.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="card-footer bg-primary text-light">
                  <small>Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-header bg-primary text-light"><i class="fa fa-pencil mr-3"></i>Heading</div>
                <img class="card-img-top" src="img/stars.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="card-footer bg-primary text-light">
                  <small>Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-header bg-primary text-light"><i class="fa fa-pencil mr-3"></i>Heading</div>
                <img class="card-img-top" src="img/stars.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="card-footer bg-primary text-light">
                  <small>Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- PRICING CARD GROUP -->
        <div class="container-fluid bg-white py-5">
          <h2 class="display-4 text-center">Pricing</h2>
          <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
          <div class="container p-3 bg-light border border-light rounded">
            <div class="card-deck">
              <div class="card border-0">
                <div class="card-header bg-primary text-light text-center"><i class="fa fa-pencil mr-3"></i>Basic</div>
                <div class="card-body text-center">
                  <h4 class="card-title display-1"><span class="display-4 align-top font-italic">$</span>20</h4>
                  <ul class="list-unstyled text-left card-text">
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Lorem ipsum dolor sit amet</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Consectetur adipiscing elit</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Integer molestie lorem at massa</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Facilisis in pretium nisl aliquet</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Nulla volutpat aliquam velit</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-block btn-lg">Buy Now</a>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-header bg-primary text-light text-center"><i class="fa fa-pencil mr-3"></i>Standard</div>
                <div class="card-body text-center">
                  <h4 class="card-title display-1"><span class="display-4 align-top font-italic">$</span>50</h4>
                  <ul class="list-unstyled text-left card-text">
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Lorem ipsum dolor sit amet</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Consectetur adipiscing elit</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Integer molestie lorem at massa</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Facilisis in pretium nisl aliquet</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Nulla volutpat aliquam velit</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-block btn-lg">Buy Now</a>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-header bg-primary text-light text-center"><i class="fa fa-pencil mr-3"></i>Premium</div>
                <div class="card-body text-center">
                  <h4 class="card-title display-1"><span class="display-4 align-top font-italic">$</span>70</h4>
                  <ul class="list-unstyled text-left card-text">
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Lorem ipsum dolor sit amet</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Consectetur adipiscing elit</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Integer molestie lorem at massa</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Facilisis in pretium nisl aliquet</li>
                    <li class="lead"><i class="fa fa-check text-success mr-3"></i>Nulla volutpat aliquam velit</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-block btn-lg">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TEAM CARD GROUP -->
        <div class="container-fluid bg-white py-5">
          <h2 class="display-4 text-center">Team Members</h2>
          <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
          <div class="container p-3 bg-light border border-light rounded text-center">
            <div class="card-group">
              <div class="card border-0">
                <div class="card-body">
                  <h3 class="card-title">Dog</h3>
                  <img src="img/dog.jpg" alt="Image" class="rounded-circle align-middle img-fluid border border-light mb-2" height="50" width="50">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-body">
                  <h3 class="card-title">Dog</h3>
                  <img src="img/dog.jpg" alt="Image" class="rounded-circle align-middle img-fluid border border-light mb-2" height="50" width="50">
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-body">
                  <h3 class="card-title">Dog</h3>
                  <img src="img/dog.jpg" alt="Image" class="rounded-circle align-middle img-fluid border border-light mb-2" height="50" width="50">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="card-group">
              <div class="card border-0">
                <div class="card-body">
                  <h3 class="card-title">Dog</h3>
                  <img src="img/dog.jpg" alt="Image" class="rounded-circle align-middle img-fluid border border-light mb-2" height="50" width="50">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-body">
                  <h3 class="card-title">Dog</h3>
                  <img src="img/dog.jpg" alt="Image" class="rounded-circle align-middle img-fluid border border-light mb-2" height="50" width="50">
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card border-0">
                <div class="card-body">
                  <h3 class="card-title">Dog</h3>
                  <img src="img/dog.jpg" alt="Image" class="rounded-circle align-middle img-fluid border border-light mb-2" height="50" width="50">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- IMAGE GALLERY CARD GROUP -->
        <div class="container-fluid bg-white py-5">
          <h2 class="display-4 text-center">Images</h2>
          <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
          <div class="container p-3 bg-light border border-light rounded">
            <div class="card-deck">
              <div class="card border-0">
                <img class="card-img" src="img/dog.jpg" alt="Card image cap">
              </div>
              <div class="card border-0">
                <img class="card-img" src="img/dog.jpg" alt="Card image cap">
              </div>
              <div class="card border-0">
                <img class="card-img" src="img/dog.jpg" alt="Card image cap">
              </div>
            </div>
          </div>
        </div>
        <!-- SIGNUP FORM -->
        <div class="container-fluid bg-white py-5">
          <h2 class="display-4 text-center">Signup</h2>
          <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
          <div class="container p-3 bg-light border border-light rounded">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4" class="col-form-label">Email</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4" class="col-form-label">Password</label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress" class="col-form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="form-group">
                <label for="inputAddress2" class="col-form-label">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity" class="col-form-label">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState" class="col-form-label">State</label>
                  <select id="inputState" class="form-control">Choose</select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip" class="col-form-label">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Check me out
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
          </div>
          <div id="formFeedback" class="">
          </div>
        </div>
        <!-- CONTACT FORM -->
        <div class="container-fluid bg-white py-5">
          <h2 class="display-4 text-center">Contact</h2>
          <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
          <div class="container p-3 bg-light border border-light rounded">
            <div class="container">
              <form>
                <div class="form-group row">
                  <label for="inputName" class="col-sm-2 col-form-label"><h4>Name</h4></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control border-0 form-control-lg" id="inputName" placeholder="Enter your name...">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail" class="col-sm-2 col-form-label"><h4>Email</h4></label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control border-0 form-control-lg" id="inputEmail" placeholder="Enter your email...">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputMessage" class="col-sm-2 col-form-label"><h4>Message</h4></label>
                  <div class="col-sm-10">
                    <textarea class="form-control border-0 form-control-lg" id="inputMessage" rows="10" placeholder="Enter your message..."></textarea>
                  </div>
                </div>
                <div class="form-group row justify-content-end">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-block btn-lg w-50"><i class="fa fa-paper-plane mr-3"></i>Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div id="formFeedback" class="">
          </div>
        </div>
        <!-- INLINE FORM -->
        <div class="container-fluid bg-white py-5">
          <h2 class="display-4 text-center">Search Box</h2>
          <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
          <div class="container p-3 bg-light border border-light rounded">
            <div class="row justify-content-center">
              <form class="form-inline w-100">
                <div class="col-sm-8">
                  <input class="form-control form-control-lg mr-2 w-100" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-sm-4">
                  <button class="btn btn-primary btn-lg w-100" type="submit"><i class="fa fa-search mr-1"></i>Search</button>
                </div>
                </form>
            </div>
          </div>
          <div id="formFeedback" class="">
          </div>
        </div>
        <!-- COMPARISON TABLE -->
        <div class="container-fluid bg-white py-5">
          <h2 class="display-4 text-center">Feature Comparison</h2>
          <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
          <div class="container p-3 bg-white border border-light rounded">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center" scope="col">#</th>
                  <th class="text-center" scope="col">Basic</th>
                  <th class="text-center" scope="col">Standard</th>
                  <th class="text-center" scope="col">Premium</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr>
                  <th scope="row">Feature 1</th>
                  <td><i class="fa fa-check text-success mr-3"></i></td>
                  <td><i class="fa fa-check text-success mr-3"></i></td>
                  <td><i class="fa fa-check text-success mr-3"></i></td>
                </tr>
                <tr>
                  <th scope="row">Feature 2</th>
                  <td><i class="fa fa-times text-danger mr-3"></i></td>
                  <td><i class="fa fa-check text-success mr-3"></i></td>
                  <td><i class="fa fa-check text-success mr-3"></i></td>
                </tr>
                <tr>
                  <th scope="row">Feature 3</th>
                  <td><i class="fa fa-times text-danger mr-3"></i></td>
                  <td><i class="fa fa-times text-danger mr-3"></i></td>
                  <td><i class="fa fa-check text-success mr-3"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- DATA TABLE -->
        <div class="container-fluid bg-white py-5">
          <h2 class="display-4 text-center">Spreadsheet</h2>
          <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
          <div class="container p-3 bg-white border border-light rounded">
            <table class="table table-sm table-bordered table-responsive table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry the Lobster</td>
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- FOOTER -->
        <div class="container-fluid bg-overlay text-light p-0">
          <div class="container pt-5 pb-4">
            <div class="row justify-content-between">
              <div class="col-sm-auto">
                <h4 class="text-left">Links</h4>
                <hr class="bg-primary mb-4" style="height: 3px;" />
                <ul class="list-unstyled text-left">
                  <li><a href="#">Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</a></li>
                  <li><a href="#">Consectetur adipiscing elit</a></li>
                  <li><a href="#">Integer molestie lorem at massa</a></li>
                  <li><a href="#">Facilisis in pretium nisl aliquet</a></li>
                  <li><a href="#">Nulla volutpat aliquam velit</a></li>
                </ul>
              </div>
              <div class="col-sm-auto">
                <h4 class="text-left">Social</h4>
                <hr class="bg-primary mb-4" style="height: 3px;" />
                <ul class="list-unstyled text-left">
                  <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                  <li><a href="#">Consectetur adipiscing elit</a></li>
                  <li><a href="#">Integer molestie lorem at massa</a></li>
                  <li><a href="#">Facilisis in pretium nisl aliquet</a></li>
                  <li><a href="#">Nulla volutpat aliquam velit</a></li>
                </ul>
              </div>
              <div class="col-sm-auto">
                <h4 class="text-left">Contact</h4>
                <hr class="bg-primary mb-4" style="height: 3px;" />
                <p class="text-left"><strong>Address:</strong> 123 My Street, My Town</p>
                <p class="text-left"><strong>Email:</strong> email@example.com</p>
                <p class="text-left"><strong>Phone:</strong> +61 1234 5678</p>
              </div>
            </div>
            <div class="row justify-content-between mt-3">
              <div class="col-sm-auto">
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#">Terms</a></li>
                  <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                  <li class="list-inline-item"><a href="#">Disclaimer</a></li>
                </ul>
              </div>
              <div class="col-sm-auto">
                <p>&copy; Copyright 2017 All rights reserved. Made with <i class="fa fa-heart text-danger"></i> and Node.js</p>
              </div>
            </div>
          </div>
        </div>
      <!-- END CONTENT CONTAINER -->
      </div>
    </div>
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
