/* Custom styles */

html,body {
  height: 100%;
}

/* Fonts */

h1 {
  font-family: 'Playball', cursive !important;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif !important;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif !important;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif !important;
}

h5 {
  font-family: 'Roboto Condensed', sans-serif !important;
}

h6 {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.lead, p {
  font-family: 'Open Sans', sans-serif !important;
}

.list-unstyled li {
  margin-bottom: 5%;
}

.navbar-brand {
  font-family: 'Playball', cursive !important;
}

/* Colors */

.nav-link.active {
  color: #000 !important;
  font-weight: bold;
}

.list-inline a {
  color: #eee !important;
}

.list-inline a:hover, .list-inline a:active {
  color: #ddd !important;
}

.list-unstyled a, .navbar-brand-accent {
  color: #ffb300 !important;
}

.list-unstyled a:hover, .list-inline a:active {
  color: #ff8f00 !important;
}

.text-primary, .btn-outline-primary {
  color: #ef5350 !important;
}

.bg-primary, .btn-primary, .badge-primary {
  background-color: #ef5350 !important;
}

.btn-primary, .border-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary {
  border-color: #e53935 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: #c62828 !important;
  border-color: #b71c1c !important;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  color: #eee !important;
}

/* Images & effects */

.img-fill {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

.bg-cover {
  background: url('img/stars.jpg') no-repeat center center fixed;
  background-size: cover;
}

.bg-overlay {
  background: linear-gradient(to bottom left,rgba(156,39,176,0.55),rgba(244,67,54,0.55)), url('img/stars.jpg') no-repeat center center fixed;
  background-size: cover;
}

.text-shadow {
  text-shadow: 2px 2px 2px #444;
}

.box-shadow {
  box-shadow: 2px 2px 6px #444;
}

/* Animations */

@keyframes cursor {
  from, to { border-color: transparent }
  50% { border-color: #ffb300; }
}

.a-cursor {
  border-right: .05em solid;
  animation: cursor .75s step-end infinite;
}

@keyframes fade {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}

.a-fade {
  animation: fade 1.5s;
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.a-slideRight {
  animation: slideRight 0.8s ease-out;
}
